@charset "UTF-8";

body {
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
h1 {
    color: blue;
    background-color: rgb(141, 197, 171);
}
h2 {
    color: brown;
}
p {
    text-align: justify;
}
